* {
    font-family: 'Archivo', sans-serif;
}

div #header {
    display: flex;
    align-items: center;
    background: chartreuse;

    border-radius: 0.8rem;
    max-width: 35rem;
}

div #header h1 {
    margin: 0 10px;

    color: #fff;
}

div #header p {
    font-size: 0.8rem;
    font-weight: 600;
    color: #fff;

    max-width: 30rem;
}